<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bem-Vindo ao site do Banco</h1>
    <hr>
    <p>Menu de navegação:</p>
    <div class="buttons">
        <!--O 1 vai ficar fixo por agora, será alterado quando implementarmos a rota de login-->
        <a href="{% url 'realizar_deposito' 1  %}">Realizar Depósito</a> 
        <br>
        <a href="{% url 'realizar_saque' 1 %}">Realizar Saque </a>
        <br>
        <a href="{% url 'realizar_transferencia' 1  %}">Realizar Tranferencia</a>
        <br>
        <a href="{% url 'pagamento' 1 %}">Realizar pagamento</a>
    </div>
</body>
</html>