<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SignUp</h1>
    <form action="{%url 'signUp'%}" method="post">
        {% csrf_token %}
        <label for="username">Nome do usuário:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Criar</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>